html, body{
	height: 100%;
}
body{
	background: #fff;
	font-family: Ubuntu, sans-serif;
	font-size: 16px;
	color: #fff;
	/*color:#828282;*/
	font-weight: 400;
	min-width: 320px;
}
a{
	font-family: Montserrat, sans-serif;
	font-weight: 700;
	font-style: 17px;
	color: #2cc7c1;
}
a:hover{
	color: #2cc7c1;	
}
img{
	max-width: 100%;
	height: auto;
}
section{
	position: relative;
}
h2{
	font-family: Montserrat, sans-serif;
	font-size: 30px;
	margin-top: 0;
	text-transform: uppercase;
}

/*===================header=====================*/
#header{
	background: url(../img/2.jpg) center no-repeat;
	background-size: cover;
	/*height: 100vh;*/
	height: 100%;
	min-height: 500px;
}
.section-table{
	display: table;
	height: 100%;
	width: 100%;
}
.section-row{
	display: table-row;
}
.section-cell{
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}
.section-center{
	max-width: 550px;
	display: inline-block;
}
#header h1{
	font-family: Montserrat, sans-serif;
	font-size: 31px;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
}
#header p{
	color: #fff;
	font-size: 20px;
}
.btn{
	font-family: Montserrat, sans-serif;
	color: #fff;
	font-size: 17px;
	text-transform: uppercase;
	padding: 10px 20px;
	margin: 0 10px;
	border: none;
	color: #fff;
	transition: background .5s;
}
.btn-primary{
	background: #7ea4e8;
}
.btn-primary:hover{
	background: #6787c2;
}
.btn-default{
	background: #6a7079;
}
.btn-default:hover{
	background: #474c52;
	color: #fff;
}

/*=====================speakers===================*/
#speakers{
	padding: 90px 0;
	border-bottom: 2px solid #f0f0f1;
	background: #000;
}
#speakers h2{
	color: #6bd8d3;
}
.large{
	color: #6bd8d3;
	font-size: 22px;
	margin-bottom: 20px;
}

.section-tabs{
	border: 3px solid #ececec;
	border-radius: 2px;
}
.section-tabs .nav-tabs li:not(.active){
	background: #ececec;
}
.section-tabs .nav-tabs.nav-justified li a,
.section-tabs .nav-tabs.nav-justified li.active a,
.section-tabs .nav-tabs.nav-justified li.active a:focus,
.section-tabs .nav-tabs.nav-justified li.active a:hover{
	border-radius: 0;
	border: none;
	font-family: Ubuntu, sans-serif;
	font-size: 18px;
	font-weight: 700;
	outline: 0;
}
.section-tabs .nav-tabs li.active a{
	color: #9097a1;
}
.nav-tabs li a{
	color: #abb1ba;
}
.section-tabs .tab-content{
	padding: 25px 20px;
}
.section-tabs .tab-content ul{
	padding-left: 10px;
}
.section-tabs .tab-content ul li{
	line-height: 30px;
}
.section-tabs .tab-content ul li i{
	font-size: 15px;
	color: #2cc7c1;
	margin-right: 10px;
}

.speakers-head{
	margin-top: 100px;
	margin-bottom: 60px;
}
.speakers-head h2{
	color: #6a7079;
}
.speakers h3{
	color: #6bd8d3;
	font-size: 20px;
	text-transform: uppercase;
}
.item > div{
	position: relative;
}
.front{
	position: absolute;
	width: 140px;
	height: 140px;
	cursor: pointer;
	/*for IE*/
	left: 50%;
	margin-left: -70px;
}
.back{
	width: 140px;
	height: 140px;
	background: #6bd8d3;
	display: inline-block;
	border-radius: 50%;
	opacity: 0;
}
.back i{
	line-height: 140px;
	font-size: 30px;
	color: #fff;
}
.item > div:hover .front{
	opacity: .2;
}
.item > div:hover .back{
	opacity: 1;
}
.item > div h3{
	color: #6bd8d3;
}
.speakers-footer{
	margin-top: 70px;
}

/*=======================events=====================*/
#events{
	padding: 90px 0;
}
.link{
	text-transform: uppercase;
	font-size: 17px;
}
.time{
	background: #2cc7c1;
	color: #fff;
	font-size: 17px;
	font-weight: 500;
	padding: 5px;
	border-radius: 2px;
	margin-right: 25px;
}
.collapse-link{
	color: #747a84;
	font-size: 18px;
	font-weight: 500;
}
.collapse-link:hover{
	color: #747a84;
}
.collapse-state{
	color: #2cc7c1;
}
.collapse p{
	color: #999;
}
.tab-collapse{
	margin-bottom: 20px;
}
.row-item{
	margin-top: 100px;
}
.carousel-indicators{
	left: 0;
	bottom: 10px;
	margin: 0;
	margin-left: 20px;
	width: auto;
}
.carousel-indicators li{
	border: 1px solid #2cc7c1;
	background: #fff;
	height: 12px;
	width: 12px;
}
.carousel-indicators li.active{
	background: #2cc7c1;
	height: 14px;
	width: 14px;
}

/*=====================form=====================*/
#form{
	padding: 90px 0;
	background: #f3f3f3;
}
.section-form{
	background: #fff;
	padding: 40px;
	border-radius: 2px;
	margin-top: 50px;
}
.section-form input,
.section-form select{
	height: 44px;
	background: #efefef;
	padding-right: 25px;
}
.has-success .form-control-feedback{
	color: #2cc7c1;
}
.has-success .form-control,
.section-form input.form-control:focus{
	border: 2px solid #95e3e0;
	background: #fff;
	box-shadow: none;
}
.form-control-feedback{
	right: 10px;
	line-height: 44px;
}

/*поле select - размеры, фон, горизонтальное выравнивание*/
.select2-container--default .select2-selection--single{
	height: 44px;
	text-align: left;
	background: #efefef;
}
/*поле select - вертикальное выравнивание + цвет*/
.select2-container--default .select2-selection--single .select2-selection__rendered{
	line-height: 44px;
	color: #bebebe;
}
/*фон открытого поля select*/
.select2-container--open .select2-selection--single{
	background: #2cc7c1;
}
/*цвет открытого поля select*/
.select2-container--open .select2-selection--single .select2-selection__rendered{
	color: #fff;
}
/*выравнивание стрелки*/
.select2-container--default .select2-selection--single .select2-selection__arrow{
	top: 10px;
}
/*скрываем placeholder*/
li.select2-results__option:first-child{
	display: none;
}
/*фон списка*/
.select2-results__options,
.select2-container--default .select2-results__option--highlighted[aria-selected],
.select2-container--default .select2-results__option[aria-selected="true"]{
	background: #525b64;
}
/*цвет списка*/
.select2-results__options{
	color: #2cc7c1;
}

/*=====================#sponsors=====================*/
#sponsors{
	background: #fff;
	text-align: center;
	padding: 60px 0;
}

/*=======================#contacts========================*/
#contacts{
	background: #525b64;
	padding: 70px 0;
}
#contacts h3,
#contacts h4{
	color: #fff;
	margin: 0 0 25px;
}
#contacts h3 span{
	font-weight: 700;
}
#contacts h4{
	font-size: 20px;
}
#contacts p{
	color: #cdd0d2;
}
#contacts a,
#contacts .contacts p{
	font-weight: 500;
	color: #2cc7c1;
}
#contacts .contacts p i{
	margin-right: 10px;
}
.social img{
	margin-right: 20px;
}

/*=======================#copy========================*/
#copy{
	background: #3f464c;
	padding: 15px 0;
}
#copy p{
	margin: 0;
	color: #cacaca;
	font-size: 14px;
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	#speakers,
	#events,
	#form,
	#contacts{
		padding: 20px 0;
	}
	.speakers-head,
	.speakers-footer{
		margin: 20px 0;
	}
	.row-item{
		margin-top: 30px;
	}
	.row-item-col{
		margin: 20px 0;
	}
	#sponsors{
		padding: 20px 0 0;
	}
	#sponsors img{
		margin-bottom: 20px;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	
}

@media only screen and (max-width : 600px) {
	#header{
		min-height: 300px;
	}
	.section-center{
		max-width: 320px;
	}
	#header h1{
		font-size: 20px;
	}
	#header p{
		font-size: 16px;
	}
	.section-btn{
		font-size: 15px;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.row-item{
		margin-top: 10px;
	}
}